{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Random Date Idea</h1>
    {% if idea %}
    <div>
        <p>Your random date idea is:
        <h1 style="color: green; border: 2px solid red">
            {{ idea }}
        </h1>

        </p>
        <div style="margin-bottom: 20px;">
            <a href="/use/{{idea}}">Use idea</a>
            <a href="/">Skip idea</a>
        </div>
    </div>
    {% else %}
    <p>The date jar is empty. Add some date ideas first.</p>
    {% endif %}
</div>
{% endblock %}