{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Date Jar App</h1>

    <h2>Add a Date Idea</h2>

    <form action="/add_idea"
          method="post">
        <textarea name="idea"
                  placeholder="Enter a new date idea"
                  required></textarea>
        <input type="submit"
               value="Add">
    </form>

    <h2>Total Date Jar Ideas</h2>
    <p>{{ ideas|length }} ideas</p>

    <h2>Get a Random Date Idea</h2>
    <a href="/get_random_idea">Get Random Idea</a>
</div>
{% endblock %}